[user]
	name = Guilherme Pereira
	email = guilospanck@protonmail.com
	signingKey = <path to ssh signing key. Example: ~/.ssh/id_rsa.pub>
[url "https://Guilospanck:<your-github-pat-token>@github.com"] 
        insteadOf = https://github.com
[color]
	ui = auto
[core]
	excludesFile = ~/.gitignore
[commit]
	gpgsign = true
[alias]
	tree = log --oneline --decorate --all --graph
[push]
	autoSetupRemote = true
	followTags = true
[merge]
	conflictStyle = zdiff3
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
[gpg]
	format = ssh
